{% extends 'photo_gallery/base.html' %}

{% block title %}Fotos{% endblock title %}

{% block header %}                       
    Selecione as fotos que você deseja que estejam presentes na Galeria. </br>
    <a href="{% url 'gallery' %}"><b>Voltar para Galeria</b></a>!
{% endblock %}

{% block content %}  
    <div data-code="example-2">
        <div class="row justify-content-center">
            {% for photo in photos %}    
            <div class="col-md-6">  
                <div class="card" style=""> 
                    <div class="card-body">
                        <a href="{{ photo.url }}" class="" data-toggle="lightbox" data-gallery="example-gallery">
                            <img src="{{ photo.url }}" class="img-fluid">
                        </a>  
                        <div>
                        </br>
                        <form method="post" action = "{% url 'approve' %}" enctype="multipart/form-data">
                            {% csrf_token %}  
                            {% if photo.is_approved %}
                                <button type="submit" name="desaprovar" class="btn btn-outline-danger btn-sm" value="{{photo.uuid}}">
                                    Desaprovar
                                </button> 
                            {% else %}
                                <button type="submit" name="aprovar" class="btn btn-outline-success btn-sm" value="{{photo.uuid}}">
                                    Aprovar
                                </button> 
                            {% endif %} 
                        </form>
                        </div>   
                    </div>
                </div> 
            </br>
            </div>
           
            {% endfor %}
        </div>
    </div> 
{% endblock %}
