{% load staticfiles %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="top-header">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/OpenCamera1.png' %}" class="img-fluid" /> 
                    </div>
                    <div class="col-md-9">
                        <h1>Galeria dos Noivos</h1>
                        <p class="lead"> 
                            Aproveite para adicionar uma foto para o casal! </br>
                            <a href="{% url 'gallery' %}">Veja a galeria!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>