{% extends 'photo_gallery/base.html' %} 

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %} 
  <form method="post" action = "{% url 'upload_photo' %}" enctype="multipart/form-data">
    {% csrf_token %}  
    <input type="file" name="files" multiple>
    <input type="submit" value="Upload"> 
  </form> 

  <p><a href="{% url 'gallery' %}">Veja a galeria!</a></p>
{% endblock %}