{% extends 'photo_gallery/base.html' %} 

{% block title %}Upload{% endblock title %}

{% block header %}                       
	Aproveite para adicionar uma foto para o casal! </br>
	<a href="{% url 'gallery' %}">Veja a galeria!</a>
{% endblock %}

{% block content %}   
	{% if messages %} 
		{% for message in messages %}
			{% if message.tags == 'error' %}
			<div class="alert alert-danger alert-dismissible text-center" role="alert">
			{% else %}
			<div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert"> 
			{% endif %}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
			</div>
		{% endfor %} 
	{% endif %} 
 
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Adicione as fotos</h5>
			<p class="card-text">Selecione as fotos e clique em 'Upload'.</p>

			<form method="post" action = "{% url 'upload_photo' %}" enctype="multipart/form-data">
				{% csrf_token %}  

				<input type="file"  name="files" multiple>
				<br /><br />
				<input type="submit" class="btn btn-primary mb-2" value="Upload"> 

			</form>  
		</div> 
	</div>

{% endblock %}